[submodule "build/extern/nanobind"]
	path = build/extern/nanobind
	url = https://github.com/wjakob/nanobind.git
[submodule "build/build/extern/nanobind"]
	path = build/build/extern/nanobind
	url = https://github.com/wjakob/nanobind.git
[submodule "extern/nanobind"]
	path = extern/nanobind
	url = https://github.com/wjakob/nanobind.git
